.card-container {
    display: flex;
    flex-flow: row wrap;
}

  @media (max-width: 768px){
    .card{
        margin-bottom: 10px;
        flex: 100%;
        
    }
  }

  @media (min-width: 768px){
    .card{
        margin: 5px;
        flex: 45%;
    }
  }

  @media (min-width:1200px){
    .card{
        margin: 10px;
        flex: 30%
    }
  }