.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.card {
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
  }